<app-top-bar></app-top-bar>
<div class="container">
    <div class="card">
        <div class="card-header">
            <h4>Entradas Pendentes</h4>
            <div class="ShowCount">
                <label for="showSelector">Pendentes por página:</label>
                <input name="showSelector" id="showSelector" type="number" value="1"/>
            </div> 
        </div>
        <div class="card-body">
            <div class="d-flex flex-row bd-highlight justify-content-between mb-3">
                <div class="input-group">
                    <div class="input-group-prepend">
                        <span class="input-group-text" id="basic-addon1">
                            <img src="../../assets/icons/barcode.svg" class="img-input" alt="" srcset="">
                        </span>
                    </div>
                    <input type="text" class="form-control" placeholder="Código Nota Fiscal" id="ipPesquisa"
                        aria-describedby="basic-addon1">
                </div>
                <div class="input-group">
                    <div class="input-group-prepend">
                        <span class="input-group-text" id="basic-addon1">
                            <img src="../../assets/icons/address-consumer-data.svg"  class="img-input" alt="" srcset="">
                        </span>
                    </div>
                    <input type="text" class="form-control" placeholder="Motorista" id="descPesquisa"
                        aria-describedby="basic-addon1">
                </div>
                <div class="input-group">
                    <div class="input-group-prepend">
                        <span class="input-group-text" id="basic-addon1">
                            <img src="../../assets/icons/car-licence-plate.svg"  class="img-input" alt="" srcset="">
                        </span>
                    </div>
                    <input type="text" class="form-control" placeholder="Placa Veículo" id="descPesquisa"
                        aria-describedby="basic-addon1">
                </div>
            </div>


            <table id="datatable" class="table  table-hover table-bordered">
                <thead>
                    <tr>
                        <th scope="col" class="no-sort">Código Nota Fiscal</th>
                        <th scope="col">Motorista</th>
                        <th scope="col" class="hidden">Placa Veículo</th>
                        <th scope="col" >Aprovar</th>
                    </tr>
                </thead>
                <tbody class="table-group-divider">
                    <tr *ngFor="let pendente of pendentes">
                        <ng-container >
                            <ng-container >

                        <td>{{pendente.notaFiscal}}</td>
                        <td>Allan Kley</td>
                        <td>{{pendente.placaCarro}}</td>
                        <td>
                            <div class="actions">
                                <a href="" data-bs-toggle="modal" data-bs-target="#Visualizar"  >
                                    <img src="../../assets/icons/clipboard-list-parts.svg" class="img-input" alt="" srcset="">
                                </a>
                            </div>
                        </td>
                    </ng-container>
                    </ng-container>
                    </tr>
                </tbody>
            </table>

            <div class="registros">
                 Mostrando de 1 até 1 de
                1 registros 
                <div class="pageControl">

                    <div class="buttons">
                        <div  id="AntBtn" class="pageButtons">
                        <img src="../../assets/icons/arrow-left-frame.svg" alt="" />
                        </div>
            
                        <div>
                        <a class="btn btn-primary pages" >
                            1
                        </a>
                        </div>
                        
                        <div  id="ProxBtn" class="pageButtons" >
                        <img src="../../assets/icons/arrow-right-frame.svg" alt=""/>
                        </div>
                    </div>
                </div>
            </div>

        </div>
    </div>

    <div class="modal fade" id="Visualizar" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
        <div class="modal-dialog modal-dialog-centered modal-lg">

            <div class="modal-content">
                <div class="modal-header">
                    <h5 class="modal-title" >Código da nota fiscal: </h5>
                    <h3 class="modal-title codigo" > 5014512565</h3>
                    <button type="button" data-bs-dismiss="modal" class="btn-close" aria-label="Close"></button>
                </div>
                
                <div class="modal-body">
                    <form class="row g-3">
                        <!-- <div class="col-md-8">
                          <label for="inputEmail4" class="form-label">Modelo</label>
                          <input type="text" name="modelo" id="modelo" class="form-control" placeholder="Modelo" />
                        </div>
                        <div class="col-md-4">
                          <label for="inputPassword4" class="form-label">Ano</label>
                          <input type="text" name="ano" id="ano" class="form-control" placeholder="Ano" />
                        </div> -->
                        <div class="col-12">
                          <label for="inputAddress" class="form-label">Placa</label>
                          <input type="text" name="placa" id="placa" class="form-control" placeholder="Placa" />
                        </div>
                        <div class="col-12">
                          <label for="inputAddress2" class="form-label">CPF</label>
                          <input type="text" name="cpf" id="cpf" class="form-control" placeholder="Cpf" />
                        </div>
                        <div class="col-12">
                            <label for="inputAddress2" class="form-label">Nome</label>
                            <input type="text" name="nome" id="nome" class="form-control" placeholder="Nome" />
                        </div>
                        <div class="col-12">
                            <label for="inputAddress2" class="form-label">RG</label>
                            <input type="text" name="rg" id="rg" class="form-control" placeholder="Rg" />
                        </div>
                        <div class="col-md-6">
                            <label for="inputEmail4" class="form-label">CNH</label>
                            <input type="text" name="cnh" id="cnh" class="form-control" placeholder="Cnh" />
                        </div>
                        <div class="col-md-6">
                            <label for="inputPassword4" class="form-label">Data de Nascimento</label>
                            <input type="date" name="nascimento" id="nascimento" class="form-control" placeholder="Data de Nascimento" />
                        </div> 
                      </form>
                      <div ></div>
                      <div class="modal-header">
                        <h3 class="modal-title codigo" > Ajudante</h3>
                    </div>
                      <form class="row g-3">
                        <div class="col-12">
                            <label for="inputAddress2" class="form-label">CPF</label>
                            <input type="text" name="cpf" id="cpf" class="form-control" placeholder="Cpf"/>
                        </div>
                        <div class="col-12">
                            <label for="inputAddress2" class="form-label">Nome</label>
                            <input type="text" name="nome" id="nome" class="form-control" placeholder="Nome"/>
                        </div>
                      </form>
                      <div class="btns-group">
                        <a  data-bs-dismiss="modal" class="btn1 btn-prev">Cancelar</a>
                        <a data-bs-dismiss="modal" class="btn1 btn-next">Aprovar</a>
                    </div>
                    </div>
                </div>
            </div>
        </div>
    </div>