<app-top-bar></app-top-bar>
<div class="container">
    <div class="card">
        <div class="card-header">
            <h4>Entradas Pendentes</h4>
        </div>
        <div class="card-body">
     
              


            <table id="datatable" class="table  table-hover table-bordered">
                <thead>
                    <tr>
                        <th scope="col" class="no-sort">Código Nota Fiscal</th>
                        <th scope="col">Data entrega</th>
                  
                        <th scope="col" >Aprovar</th>
                    </tr>
                </thead>
                <tbody class="table-group-divider">
                    <tr *ngFor="let pendente of list_entregas_pendentes">
                        <ng-container >
                            <ng-container >

                        <td>{{pendente.entrega.notaFiscal}}</td>
                        <td>{{pendente.entrega.dataEntrega | date:"dd/MM/yyyy"}}</td>
                        <td>
                            <div class="actions">
                                <a href="" data-bs-toggle="modal" data-bs-target="#Visualizar"  (click)="aprovar(pendente.entrega.id)">
                                    <img src="../../assets/icons/check-circle-fill.svg" class="img-input" alt="" srcset="">
                                </a>
                            </div>
                        </td>
                    </ng-container>
                    </ng-container>
                    </tr>
                </tbody>
            </table>

            
        </div>
    </div>

    <!-- <div class="modal fade" id="Visualizar" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
        <div class="modal-dialog modal-dialog-centered modal-lg">

            <div class="modal-content">
                <div class="modal-header">
                    <h5 class="modal-title" >Código da nota fiscal: </h5>
                    <h3 class="modal-title codigo" > {{detalhes_entrega.notaFiscal}}</h3>
                    <button type="button" data-bs-dismiss="modal" class="btn-close" aria-label="Close"></button>
                </div>
                
                <div class="modal-body">
                    <form class="row g-3">
                        <div class="col-md-8">
                          <label for="inputEmail4" class="form-label">Modelo</label>
                          <input type="text" name="modelo" id="modelo" class="form-control" placeholder="Modelo" />
                        </div>
                        <div class="col-md-4">
                          <label for="inputPassword4" class="form-label">Ano</label>
                          <input type="text" name="ano" id="ano" class="form-control" placeholder="Ano" />
                        </div> 
                        <div class="col-12">
                          <label for="inputAddress" class="form-label">Placa</label>
                          <input type="text" name="placa" id="placa" class="form-control" placeholder="Placa" value="{{detalhes_entrega.placaCarro}}"/>
                        </div>
                        <div class="col-12">
                          <label for="inputAddress2" class="form-label">CPF</label>
                          <input type="text" name="cpf" id="cpf" class="form-control" placeholder="Cpf" value="{{detalhes_entregador.cpf}}" />
                        </div>
                        <div class="col-12">
                            <label for="inputAddress2" class="form-label">Nome</label>
                            <input type="text" name="nome" id="nome" class="form-control" placeholder="Nome" value="{{detalhes_entregador.nome}}"/>
                        </div>
                        <div class="col-12">
                            <label for="inputAddress2" class="form-label">RG</label>
                            <input type="text" name="rg" id="rg" class="form-control" placeholder="Rg"  value="{{detalhes_entregador.rg}}"/>
                        </div>
                        <div class="col-md-6">
                            <label for="inputEmail4" class="form-label">CNH</label>
                            <input type="text" name="cnh" id="cnh" class="form-control" placeholder="Cnh" value="{{detalhes_entregador.cnh}}"/>
                        </div>
                        <div class="col-md-6">
                            <label for="inputPassword4" class="form-label">Data de Nascimento</label>
                            <input type="date" name="nascimento" id="nascimento" class="form-control" placeholder="Data de Nascimento" value="{{detalhes_entregador.dataNascimento}}" />
                        </div> 
                      </form>
                      <div ></div>
                      <div class="modal-header">
                        <h3 class="modal-title codigo" > Ajudante</h3>
                    </div>
                      <form class="row g-3">
                        <div class="col-12">
                            <label for="inputAddress2" class="form-label">CPF</label>
                            <input type="text" name="cpf" id="cpf" class="form-control" placeholder="Cpf"/>
                        </div>
                        <div class="col-12">
                            <label for="inputAddress2" class="form-label">Nome</label>
                            <input type="text" name="nome" id="nome" class="form-control" placeholder="Nome"/>
                        </div>
                      </form>
                      <div class="btns-group">
                        <a  data-bs-dismiss="modal" class="btn1 btn-prev">Cancelar</a>
                        <a data-bs-dismiss="modal" class="btn1 btn-next">Aprovar</a>
                    </div>
                    </div>
                </div>
            </div>
        </div>
    </div> -->