<div class="d-flex flex-column princ">
    <nav class="navbar navbar-expand-lg bg-light navbar-light">
      <div class="navbar-brand">
        <a class="navbar-brand" href="#">
          <img class="js-o-header__logo o-header__logo"
            src="https://cdn-assets-eu.frontify.com/s3/frontify-enterprise-files-eu/eyJwYXRoIjoiYm9zY2hcL2FjY291bnRzXC9hNVwvNDAwMDA5OFwvcHJvamVjdHNcLzIyOVwvYXNzZXRzXC9hOVwvMTE0MDQzXC9lMTdkMTYxMDllMmI4MzcxMmE2NDJkZjhmOTgwY2NiZi0xNTkwNzQ1NzQzLnN2ZyJ9:bosch:go5sTttIAnG7SvhMqpNGNxpChFJmAs5_1HKnvRkzbvs?width={width}&amp;rect=0,0,160,36&amp;reference_width=160"
            alt="Bosch Benefits" data-test-id="logo" />
        </a>
      </div>
  
      <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarNav"
        aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
      </button>
      <div class="container-fluid">
        <div class="collapse navbar-collapse" id="navbarNav">
          <div>
            <ul class="navbar-nav hover-link">
              <li class="nav-item">
                <a class="nav-link" [routerLink]="['/entradas-pendentes']">Pendentes</a>
              </li>
              <li class="nav-item hover-link">
                <a class="nav-link" [routerLink]="['/entradas-aprovadas']">Aprovadas</a>
              </li>
              <li class="nav-item hover-link" *ngIf="adm">
                <a class="nav-link" [routerLink]="['/permissoes']">Permissões</a>
              </li>
            </ul>
          </div>
        </div>
      </div>
  
      <div class="container-fluid">
        <div class="collapse navbar-collapse" id="navbarNav">
          <div>
          </div>
          <div>
          </div>
        </div>
      </div>
    </nav>
  </div>