/* You can add global styles to this file, and also import other style files */
@import "./base_styles/reset.css";
@import "./base_styles/colors.css";
@import "./base_styles/fonts.css";

* {
    font-family: 'boschsans';
}

.btn-primary{
    background-color: #3b83b6;
}
.btn-primary:hover{
    background-color: #2d7db5;
}
.inativo img{
    width:100%; 
    height:8em; 
    margin-bottom: 1em;
    opacity: 0.8;
}


.inativo{
    display: flex;
    flex-direction: column;
    justify-content: center;
    justify-items: center;
    text-align: center;
}

.inativo button{
    font-size: large;
}