@import "../../styles.css";
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Noto Sans',  sans-serif;
    
}

.principal{
  display: flex;
  justify-content: center;
  width: 100%;
}


  .card {

    width: 35%;
    height: 25em;
    background-color: white;
    box-shadow: 0.09rem 0.1rem 0.9rem -0.09rem var(--Bosch-Gray-70);
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    padding: 2em 0 2em 0;
  }


@media (max-width: 1520px)
{
  .card{
    margin-left: 2em;
    margin-right: 2em;
    width: 100%;
  }
}

  
  .Title h1{ font-size: 3em;}
  
  .form {
    display: flex;
    justify-content: center;
    flex-direction: column;
    align-items: center;
    gap: 3em;
  }
  
  .form_item {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    gap: .2em;
    align-content: center;
    width: 90%;
    transition : border 1s ease-out;
    pointer-events: none; 
  }
  
  .form_box {
    display: flex;
    flex-direction: row;
    align-content: space-between;
    width: 100%;
    gap: .5em;
    pointer-events: auto;
    border-bottom: .15em solid var(--Bosch-Gray-70)
  }
  
  .form_box img{
    width: 2em;
    filter: invert(49%) sepia(14%) saturate(188%) hue-rotate(172deg) brightness(90%) contrast(88%);
  }
  
  .form_box input{
    border: none;
    display: flex;
    height: 4em;
    width: 90%;
    font-size: 1.1em;
  }
  
  .form_box input:focus{outline: none;}
  
  .form_item label{
    justify-content: start;
    align-self: baseline;
    display: flex;
    font-size: 1.3em;
  }
  

.button-login {
  grid-area: login;
  align-self: center;
  justify-self: center;
  border:none;
  background-color: var(--Bosch-Blue);
  color:var(--Bosch-White);
  cursor: pointer;
  font-size: 1em;
  padding: 0.8em 2em;
  text-decoration: none;
  width: 30%;
  font-size: 1.2em;
  border-radius: 5px;
} 
.button-login:hover,
.button-login:focus{
  background-color: var(--Bosch-Blue-Ligth);
}

.button-login:active{
  background-color: var(--Bosch-Blue-Ligth);
}
@media (max-width: 700px)
{
  .button-login{
    width: 60%;
  }

}



