<app-top-bar></app-top-bar>
<body>
    <form action="#" class="form">
        
        <div class="progressbar">
            <div class="progress" id="progress"></div>
            <div class="progress-step" data-title="Veículo"></div>
            <div class="progress-step progress-step-active" data-title="Transportadora"></div>
            <div class="progress-step" data-title="Motorista"></div>
            <div class="progress-step" data-title="Ajudante"></div>
        </div>
            <div class="title-group">Informações da transportadora</div>
            <div class="input-group">
                <input type="text" name="transportadora" id="transportadora" placeholder="Insira o nome da transportadora"/>
            </div>
            <div class="input-group">
                <input type="number" name="cnpj" id="cnpj" placeholder="CNPJ"/>
            </div>
            <div class="btns-group">
                <a href="#" class="btn btn-prev">Anterior</a>
                <a href="#" class="btn btn-next">Avançar</a>
            </div>
    </form>    
</body>
