<app-top-bar></app-top-bar>

<form action="#" class="form">
    <div class="title-group">Informações do adicionais</div>
    <div class="input-group">
        <label for="entrega" style="color: #666;">Código Nota Fiscal</label>
        <input type="text" name="entrega" id="nota" style="border-radius: 0.5rem;"
            placeholder="Código Nota Fiscal" />
    </div>
    <div class="input-group">
        <label for="entrega" style="color: #666;">Data prevista para entrega</label>
        <input type="date" name="entrega" id="data" style="border-radius: 0.5rem;"
            placeholder="Data prevista para entrega" />
    </div>
    <div class="erroDiv" id="erroDiv">
        <p class="erro" id="erro">teste</p>
    </div>
    <a class="btn btn-next" (click)="verificarCampos()">Salvar</a>
   
</form>