<app-top-bar></app-top-bar>
<body>
    <form action="#" class="form">
        
        <div class="progressbar">
            <div class="progress" id="progress"></div>
            <div class="progress-step" data-title="Veículo"></div>
            <div class="progress-step progress-step-active" data-title="Transportadora"></div>
            <div class="progress-step" data-title="Motorista"></div>
            <div class="progress-step" data-title="Ajudante"></div>
        </div>
            <div class="title-group">Informações do motorista</div>
            <div class="input-group">
                <input type="number" name="CPF" id="CPF" placeholder="CPF" />
            </div>
            <div class="input-group">
                <input type="text" name="nome" id="nome" placeholder="Nome"/>
            </div>
            <div class="input-group">
                <input type="number" name="rg" id="rg" placeholder="RG"/>
            </div>
            <div class="input-group">
                <input type="number" name="cnh" id="cnh" placeholder="CNH"/>
            </div>
            <div class="input-group" >
                <label for="nascimento" style="color: #666;">Data de nascimento</label>
                <input type="date" name="nascimento" id="nascimento" placeholder="Data de Nascimento" />
            </div>
            <div class="btns-group">
                <a href="#" class="btn btn-prev">Anterior</a>
                <a href="#" class="btn btn-next">Avançar</a>
            </div>
    </form>
</body>