<app-top-bar></app-top-bar>
<body>
    <form action="#" class="form">
        
        <div class="progressbar">
            <div class="progress " id="progress"></div>
            <div class="progress-step progress-step-active" data-title="Veículo"></div>
            <div class="progress-step " data-title="Motorista"></div>
            <div class="progress-step " data-title="Adicionais"></div>
        </div>

        <div class="form-step form-step-active">
            <div class="title-group">Informações veículo</div>

            <div class="input-group">
                <input type="text" name="placa" id="placa" placeholder="Insira a placa do veículo" required/>
            </div>
            <div class="">
                <a  (click)="veiculoRegister()" href="#" class="btn btn-next width-50 ml-auto" [routerLink]="['/cadastro-motorista']">Avançar</a>
            </div>
        </div>
    </form>
</body>