<app-top-bar></app-top-bar>
<body>
    <form action="#" class="form">
        
        <div class="progressbar">
            <div class="progress" id="progress"></div>
            <div class="progress-step progress-step-active" data-title="Veículo"></div>
            <div class="progress-step" data-title="Transportadora"></div>
            <div class="progress-step" data-title="Motorista"></div>
            <div class="progress-step" data-title="Ajudante"></div>
        </div>

        <div class="form-step form-step-active">
            <div class="title-group">Informações veículo</div>
            <div class="input-group" style="display: flex;  flex-direction: row; justify-content: space-between;">
                <input type="text" name="modelo" id="modelo" style="width: 67%; border-radius: 10px;" placeholder="Modelo" />
                <input type="text" name="ano" id="ano" style="width: 30%; border-radius: 10px" placeholder="Ano"/>
            </div>
            <div class="input-group">
                <input type="text" name="placa" id="placa" placeholder="Insira a placa do veículo" />
            </div>
            <div class="">
                <a href="#" class="btn btn-next width-50 ml-auto">Avançar</a>
            </div>
        </div>
    </form>
</body>