*,
*::before,
*::after {
  box-sizing: border-box;
}

body{
  margin: 0;
  display: flex;
  place-items: center;
  min-height: 100vh;

}
label {
  display: block;
  margin-bottom: 0.5rem;
}

input {
  display: block;
  width: 100%;
  padding: 1rem;
  border: 1px solid #ccc;
  border-radius: 0.5rem;
  outline: none;
}

input::placeholder{
    color: #666;
}

.progressbar {
  position: relative;
  display: flex;
  justify-content: space-between;
  counter-reset: step;
  margin: 0;
}

.progressbar::before, .progress {
  content: "";
  position: absolute;
  top: 50%;
  transform: translateY(-50%);
  height: 4px;
  width: 100%;
  background-color: #dcdcdc;
  z-index: -1;
}

.progress {
  background-color: rgb(76, 133, 219);
  width: 0%;
  transition: 0.3s;
}

.progress-step {
  width: 2.1875rem;
  height: 2.1875rem;
  background-color: #dcdcdc;
  border-radius: 50%;
  display: flex;
  justify-content: center;
  align-items: center;
}

.progress-step::before {
  counter-increment: step;
  content: counter(step);
}

.progress-step::after {
  content: attr(data-title);
  position: absolute;
  top: calc(100% + 0.5rem);
  font-size: 0.85rem;
  color: #666;
}

.progress-step-active {
  background-color: rgb(76, 133, 219);
  color: #f3f3f3;
}

.select > label{
    font-weight: 400;
    color: #666;
    margin-right: 1rem;
} 

.pergunta-ajudante > input{
    margin-top: 1.5rem;
    
}

.form {
  width: 30%;
  height: 100%;
  margin: 0 auto;
  border: none;
  align-self: flex-start;
  margin-top: 2rem;
}

.form-step {
  display: none;
  transform-origin: top;
  animation: animate 0.7s;
}

.form-step-active {
  display: block;
}

.input-group {
  margin: 2rem 0;
}

.title-group{
    text-align: center;
    font-weight: bolder;
    font-size: 30px;
    color:rgb(88, 88, 88);
    text-transform: uppercase;
    margin-bottom: 3rem;
    margin-top: 6rem;
}
@keyframes animate {
  from {
    opacity: 0.4;
  }
  to {
    opacity: 1;
  }
}

.btns-group {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  gap: 1.5rem;
}

.btn {
  padding: 0.75rem;
  display: block;
  text-decoration: none;
  background-color: rgb(76, 133, 219);
  color: #f3f3f3;
  font-weight: bold;
  text-transform: uppercase;
  text-align: center;
  border-radius: 0.25rem;
  cursor: pointer;
  transition: 0.3s;
  outline: none;
}
.btn:hover {
  box-shadow: 0 0 0 2px #fff, 0 0 0 3px rgb(76, 133, 219);
}

select {
  color: #666;
  width: 20%;
  text-align: center;
}

.form1, .form2, .form3, .form4{
  visibility: hidden;
}