<app-top-bar></app-top-bar>
<div class="container">
    <div class="card">
        <div class="card-header">
            <h4>Fretes a fazer</h4>
            
        </div>
        <div class="card-body">
            
            <table id="datatable" class="table  table-hover table-bordered">
                <thead>
                    <tr>
                        <th scope="col" class="no-sort">Código Nota Fiscal</th>
                        <th scope="col">Data de Entrega</th>
                    </tr>
                </thead>
                <tbody class="table-group-divider">
                    <tr *ngFor="let entrega of entregas">
                        <td>
                            {{entrega.notaFiscal}}
                        </td>
                        <td>
                            {{entrega.dataEntrega | date:'dd/MM/yyyy'}}
                        </td>

                    </tr>
                </tbody>
            </table>

        </div>
    </div>
</div> 