<app-top-bar></app-top-bar>
<body>
    <form action="#" class="form">
        
        
            <div class="title-group">Cadastro de transportadora</div>
            <div class="input-group">
                <input type="text" name="nome" id="nome" placeholder="Insira o nome da transportadora"/>
            </div>
            <div class="input-group">
                <input type="text" name="cnpj" id="cnpj" placeholder="Insira o CNPJ da transportadora"/>
            </div>
            <div class="btns-group" id="cadastro-btn">
                <a href="#" class="btn" (click)="verificaCampos()">Cadastrar</a>
            </div>

            <div class="erroDiv">
                <p class="erro" id="erro">teste</p>
            </div>
         
    </form>    
</body>

