<app-top-bar></app-top-bar>
<body>
    <form action="#" class="form">
        
        
            <div class="title-group">Cadastro de transportadora</div>
            <div class="input-group">
                <input type="text" name="transportadora" id="transportadora" placeholder="Insira o nome da transportadora"/>
            </div>
            <div class="input-group">
                <input type="number" name="cnpj" id="cnpj" placeholder="Insira o CNPJ da transportadora"/>
            </div>
            <div class="btns-group" id="cadastro-btn">
                <a href="#" class="btn" [routerLink]="['/sucesso']">Cadastrar</a>
            </div>
         
    </form>    
</body>

