<app-top-bar></app-top-bar>
<form action="#" class="form">
        
    <div class="progressbar">
        <div class="progress" id="progress"></div>
        <div class="progress-step progress-step-active" data-title="Informações do veículo"></div>
        <div class="progress-step" data-title="Informações do Motorista"></div>
        <div class="progress-step" data-title="Informações adicionais"></div>
    </div>

    <div class="form-step form-step-active">
        <div class="title-group">Informações veículo</div>
        <div class="input-group" style="display: flex;  flex-direction: row; justify-content: space-between;">
            <input type="text" name="modelo" id="modelo" style="width: 70%; border-radius: 10px;" placeholder="Modelo" />
            <input type="text" name="ano" id="ano" style="width: 25%; border-radius: 10px;" placeholder="Ano"/>
        </div>
        <div class="input-group">
            <input type="text" name="placa" id="placa" placeholder="Insira a placa do veículo" />
        </div>
        <div class="btn">
            <a href="#" class="btn btn-next width-50 ml-auto">Avançar</a>
        </div>
    </div>

    <div class="form-step">
        <div class="title-group">Informações do Motorista</div>
        <div class="input-group">
            <input type="number" name="CPF" id="CPF" placeholder="CPF" />
        </div>
        <div class="input-group">
            <input type="text" name="nome" id="nome" placeholder="Nome"/>
        </div>
        <div class="input-group">
            <input type="number" name="rg" id="rg" placeholder="RG"/>
        </div>
        <div class="input-group">
            <input type="number" name="cnh" id="cnh" placeholder="CNH"/>
        </div>
        <div class="input-group" >
            <label for="nascimento" style="color: #666;">Data de nascimento</label>
            <input type="date" name="nascimento" id="nascimento" placeholder="Data de Nascimento" />
        </div>
        <div class="btns-group">
            <a href="#" class="btn btn-prev">Anterior</a>
            <a href="#" class="btn btn-next">Avançar</a>
        </div>
    </div>

    <div class="form-step">
        <div class="title-group">Informações adicionais</div>
        <div class="data" style="display: none; gap: 3rem;">
            <input type="date" name="data" id="data" placeholder="Data prevista para entrega"/>
        </div>
        <div class="input-group">
            <div class="select" style="display: flex; flex-direction: row">
            <label for="ajudante">Possui algum ajudante?</label>
            <select onclick="selected(this.value)" id="ajudante">
                <option selected>Selecionar</option>
                <option value="sim">Sim</option>
                <option value="nao">Não</option>
              </select>
            </div>
            <div class="pergunta-ajudante" style="display: none; gap: 3rem;">
                <input type="number" name="cpf" id="cpf" placeholder="CPF"/>
                <input type="text" name="nome" id="nome" placeholder="Nome"/>
            </div>
        </div>
        <div class="btns-group">
            <a href="#" class="btn btn-prev">Anterior</a>
            <a href="#" class="btn btn-next">Finalizar</a>
        </div>
    </div>
</form>