:root{
    --Bosch-Gray-50: #71767C;
    --Bosch-Gray-70: #A4ABB3;
    --Bosch-Gray-85: #D0D4D8;
    --Bosch-Gray-95: #EFF1F2;
    --Bosch-White: #FFFFFF;
    --Bosch-Black: #000000;
    --Bosch-Red: #ED0007;
    --Bosch-Purple: #9E2896;
    --Bosch-Blue: #2d7db5;
    --Bosch-Blue-Ligth: #3488C4;
    --Bosch-Turquoise: #18837E;
    --Bosch-Green: #00884A;
}