<app-top-bar></app-top-bar>
<div class="container">
    <div class="card">
        <div class="card-header">
            <h4>Entradas Aprovadas</h4>
            <div class="ShowCount">
                <label for="showSelector">Aprovadas por página:</label>
                <input name="showSelector" id="showSelector" type="number" value="1"/>
            </div> 
        </div>
        <div class="card-body">
            <div class="d-flex flex-row bd-highlight justify-content-between mb-3">
                <div class="input-group">
                    <div class="input-group-prepend">
                        <span class="input-group-text" id="basic-addon1">
                            <img src="../../assets/icons/barcode.svg" class="img-input" alt="" srcset="">
                        </span>
                    </div>
                    <input type="text" class="form-control" placeholder="Código Nota Fiscal" id="ipPesquisa"
                        aria-describedby="basic-addon1">
                </div>
                <div class="input-group">
                    <div class="input-group-prepend">
                        <span class="input-group-text" id="basic-addon1">
                            <img src="../../assets/icons/address-consumer-data.svg"  class="img-input" alt="" srcset="">
                        </span>
                    </div>
                    <input type="text" class="form-control" placeholder="Motorista" id="descPesquisa"
                        aria-describedby="basic-addon1">
                </div>
                <div class="input-group">
                    <div class="input-group-prepend">
                        <span class="input-group-text" id="basic-addon1">
                            <img src="../../assets/icons/car-licence-plate.svg"  class="img-input" alt="" srcset="">
                        </span>
                    </div>
                    <input type="text" class="form-control" placeholder="Placa Veículo" id="descPesquisa"
                        aria-describedby="basic-addon1">
                </div>
            </div>


            <table id="datatable" class="table  table-hover table-bordered">
                <thead>
                    <tr>
                        <th scope="col" class="no-sort">Código Nota Fiscal</th>
                        <th scope="col">Motorista</th>
                        <th scope="col" class="hidden">Placa Veículo</th>
                        <th scope="col" >Vizualizar</th>
                    </tr>
                </thead>
                <tbody class="table-group-divider">
                    <tr *ngFor="let aprovada of list_entrgas_aprovadas">
                        <ng-container >
                            <ng-container >

                        <td>{{aprovada.entrega.notaFiscal}}</td>
                        <td >{{aprovada.entregador.nome}}</td>
                        <td >{{aprovada.entrega.placaCarro}}</td>
                        <td>
                            <div class="actions">
                                <a  data-bs-toggle="modal" data-bs-target="#Visualizar"  (click)="detalhesEntrada(aprovada.entrega.id,aprovada.entregador.id)">
                                    <img src="../../assets/icons/plus-circle-fill.svg" class="img-input" alt="" srcset="">
                                </a>
                            </div>
                        </td>
                    </ng-container>
                    </ng-container>
                    </tr>
                </tbody>
            </table>

            <div class="registros">
                 Mostrando de 1 até 1 de
                1 registros 
                <div class="pageControl">

                    <div class="buttons">
                        <div  id="AntBtn" class="pageButtons">
                        <img src="../../assets/icons/arrow-left-frame.svg" alt="" />
                        </div>
            
                        <div>
                        <a class="btn btn-primary pages" >
                            1
                        </a>
                        </div>
                        
                        <div  id="ProxBtn" class="pageButtons" >
                        <img src="../../assets/icons/arrow-right-frame.svg" alt=""/>
                        </div>
                    </div>
                </div>
            </div>

        </div>
    </div>

    <div class="modal fade" id="Visualizar" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
        <div class="modal-dialog modal-dialog-centered modal-lg">

            <div class="modal-content">
                <div class="modal-header">
                    <h5 class="modal-title" >Código da nota fiscal: </h5>
                    <h3 class="modal-title codigo" >{{detalhes_entrega.notaFiscal}}</h3>
                    <button type="button" data-bs-dismiss="modal" class="btn-close" aria-label="Close"></button>
                </div>
                
                <div class="modal-body">
                    <form class="row g-3">
                        <!-- <div class="col-md-8">
                          <label for="inputEmail4" class="form-label">Modelo</label>
                          <h5 class="form-control">lalalala</h5>
                        </div>
                        <div class="col-md-4">
                          <label for="inputPassword4" class="form-label">Ano</label>
                          <h5 class="form-control">lalalala</h5>
                        </div> -->
                        <div class="col-12">
                          <label for="inputAddress" class="form-label">Placa</label>
                          <h5 class="form-control">{{detalhes_entrega.placaCarro}}</h5>
                        </div>
                        <div class="col-12">
                          <label for="inputAddress2" class="form-label">CPF</label>
                          <h5 class="form-control">{{detalhes_entregador.cpf}}</h5>
                        </div>
                        <div class="col-12">
                            <label for="inputAddress2" class="form-label">Nome</label>
                            <h5 class="form-control">{{detalhes_entregador.nome}}</h5>
                        </div>
                        <div class="col-12">
                            <label for="inputAddress2" class="form-label">RG</label>
                            <h5 class="form-control">{{detalhes_entregador.rg}}</h5>
                        </div>
                        <div class="col-md-6">
                            <label for="inputEmail4" class="form-label">CNH</label>
                            <h5 class="form-control">{{detalhes_entregador.cnh}}</h5>
                        </div>
                        <div class="col-md-6">
                            <label for="inputPassword4" class="form-label">Data de Nascimento</label>
                            <h5 class="form-control">{{detalhes_entregador.dataNascimento | date : "dd/MM/yyyy" }}</h5>
                        </div> 
                      </form>
                      <div ></div>
                      <div class="modal-header">
                        <h3 class="modal-title codigo" > Ajudante</h3>
                    </div>
                      <form class="row g-3">
                        <div class="col-12">
                            <label for="inputAddress2" class="form-label">CPF</label>
                            <h5 class="form-control">lalalala</h5>
                        </div>
                        <div class="col-12">
                            <label for="inputAddress2" class="form-label">Nome</label>
                            <h5 class="form-control">lalalala</h5>
                        </div>
                      </form>

                    </div>
                </div>
            </div>
        </div>
    </div>