<app-top-bar></app-top-bar>
<div class="container">
    <div class="card">
        <div class="card-header">
            <h2>Permissões</h2>
        </div>
        <br>
            <table id="datatable" class="table  table-hover table-bordered">
                <thead>
                    <tr>
                        <th scope="col" class="no-sort">Ações</th>
                        <th scope="col">Nome Completo</th>
                        <th scope="col" class="hidden">EDV</th>
                        <th scope="col" >Permissões</th>
                    </tr>
                </thead>
                <tbody class="table-group-divider">
                    <tr>
                        <ng-container >
                            <ng-container >

                        <td>
                            <div class="actions">
                                <a href="" data-bs-toggle="modal" data-bs-target="#Inactive"  >
                                    <img src="../../assets/icons/Trash.svg" class="img-input" alt="" srcset="">
                                </a>
                                <a href="" data-bs-toggle="modal" data-bs-target="#Inactive"  >
                                    <img src="../../assets/icons/pencil-square.svg" class="img-input" alt="" srcset="">
                                </a>
                            </div>
                        </td>
                        <td >Allan Kley</td>
                        <td >92897498</td>
                        <td> ADM </td>
                    </ng-container>
                    </ng-container>
                    </tr>
                </tbody>
            </table>
            <p class="last-text">Mostrando de 1 até 1 de 1 registros </p>
            <br>
        </div>
    </div>
    <a class="button-add"href="" data-bs-toggle="modal" data-bs-target="#Inactive"  >
        <img src="../../assets/icons/plus.svg" class="img-input" alt="" srcset="">
    </a>
   
