<div class="d-flex flex-column princ">
    <nav class="navbar navbar-expand-lg bg-light navbar-light">
      <a class="navbar-brand" href="#">
        <img class="js-o-header__logo o-header__logo"
          src="https://cdn-assets-eu.frontify.com/s3/frontify-enterprise-files-eu/eyJwYXRoIjoiYm9zY2hcL2FjY291bnRzXC9hNVwvNDAwMDA5OFwvcHJvamVjdHNcLzIyOVwvYXNzZXRzXC9hOVwvMTE0MDQzXC9lMTdkMTYxMDllMmI4MzcxMmE2NDJkZjhmOTgwY2NiZi0xNTkwNzQ1NzQzLnN2ZyJ9:bosch:go5sTttIAnG7SvhMqpNGNxpChFJmAs5_1HKnvRkzbvs?width={width}&amp;rect=0,0,160,36&amp;reference_width=160"
          alt="Bosch Benefits" data-test-id="logo" />
      </a>
  
      <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarNav"
        aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
      </button>
      <div class="container-fluid">
        <div class="collapse navbar-collapse" id="navbarNav">
          <ul class="navbar-nav">
            <li class="nav-item">
              <a class="nav-link">Benefícios</a>
            </li>
            <li class="nav-item">
              <a class="nav-link" >Retirada de Terceiros</a>
            </li>
            <li class="nav-item">
              <a class="nav-link">Sair</a>
            </li>
          </ul>
        </div>
      </div>
    </nav>
  </div>